$primary-color: #432d2f;
$secondary-color: #b1b1a2;

$primary-font: 'Montserrat';
$secondary-font: 'Dancing Script';
$primary-font-size: 18px;
$primary-font-weight: 400;

$text-color: $primary-color;
$link-hover-color: #fff;

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 992px;
$breakpoint-phone: 576px;